.guide {
    min-height: 670px;
    padding: 100px 0;
    background-color: #F6F7F8;
    &__top {
        display: flex;
        justify-content: space-between;
    }
    &__details {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 7px 8px 7px 15px;
        width: 250px;
        height: 50px;
        border: 2px solid #CCCCCC;
        border-radius: 7px;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: #000000;
        transition: .3s ease;
        &:hover {
            transition: .3s ease;
            border-color: $blue;
        }
    }
    &-swiper {
        max-width: 100%;
        height: 360px;
        background: #FFFFFF;
        border-radius: 20px;
        margin-top: 60px;
    }
    &-swiper-pagination {
        left: 30px;
    }
    &-slide {
        padding: 50px 100px 50px 170px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        &__head {
            position: relative;
            display: flex;
            align-items: center;
        }
        &__icon {
            position: absolute;
            left: -60px;
        }
        &__title {
            font-weight: bold;
            font-size: 25px;
            line-height: 33px;
            color: #000000;
        }
        &__info {
            margin-top: 25px;
            @include text;
            ul {
                padding-left: 16px;
                li {
                    position: relative;
                    margin-top: 12px;
                    &:before {
                        content: '';
                        position: absolute;
                        left: -16px;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 7px;
                        height: 7px;
                        border-radius: 100%;
                        background-color: #C4C4C4;
                    }
                }
            }
        }
    }
}