.item-card {
    width: 270px;
    height: 445px;
    overflow: hidden;
    &__img {
        position: relative;
        width: 100%;
        height: 330px;
        border-radius: 15px;
        overflow: hidden;
        &:hover {
            .item-card__favorite {
                right: 15px;
                opacity: 1;
                transition: .4s ease-in all;
            }
            .item-card__btn {
                bottom: 20px;
                transition: .4s ease-in all;
            }
            .item-card__work {
                transition: .4s ease-in all;
                transform: scale(1.15);
                transform-origin: center;
            }
        }
    }
    &__work {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: .4s ease-in-out all;
    }
    &__favorite {
        position: absolute;
        top: 15px;
        right: -35px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background: #FFFFFF;
        cursor: pointer;
        opacity: 0;
        transition: .4s ease-in-out all;
        &.active {
            right: 15px;
            opacity: 1;
            svg {
                fill: rgb(221, 10, 10);
                path {
                    stroke: rgb(221, 10, 10);
                }
            }
        }
    }
    &__btn {
        display: flex;
        position: absolute;
        bottom: -40px;
        left: 25%;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 10px 23px;
        background: $blue;
        font-size: 14px;
        line-height: 18px;
        transition: .4s ease-in-out all;
    }
    &__content {
        width: 100%;
    }
    &__top {
        position: relative;
        margin-top: 13px;
        display: flex;
        justify-content: space-between;
        align-items: center;        
    }
    &__link {
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
    }
    &__price {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 6px 8px;
        height: 30px;
        border: 2px solid $green;
        border-radius: 5px;
        font-weight: bold;
        font-size: 12px;
        color: $green;
        cursor: pointer;
        transition: .4s linear all;
        opacity: 1;
        &:hover {
            color: #fff;
            background-color: $green;
            transition: .2s ease;
        }
        &.hidden {
            opacity: 0;
            transform: translateX(110%);
            transition: .4s linear all;
        }
    }
    &__added {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 6px 8px;
        height: 30px;
        border-radius: 5px;
        font-weight: bold;
        font-size: 14px;
        color: $gray;
        transition: .3s ease-in all;
        transform: translateY(-40px);
        opacity: 0;
        cursor: default;
        top: 0;
        right: 0;
        &:hover {
            color: #aaaaaa;
        }
        &.active {
            cursor: pointer;
            opacity: 1;
            transform: translateY(0);
            transition: .3s ease-in all;
        }
        &:before {
            content: "\1F5F8";
            font-size: 20px;
            position: absolute;
            color: $green;
            left: -10px;
            top: 50%;
            transform: translateY(-50%);
            opacity: 1;
            transition: .3s linear;
        }
        &:after {
            content: "\2718";
            font-size: 20px;
            position: absolute;
            color: rgb(221, 10, 10);
            left: -10px;
            top: 50%;
            transform: translateY(-100%);
            opacity: 0;
            transition: .3s linear;
        }
        &:hover:before {
            opacity: 0;
            transform: translateY(50%);
            transition: .3s linear;
        }
        &:hover:after {
            opacity: 1;
            transform: translateY(-50%);
            transition: .3s linear;
        }
    }
    &__place-bit {
        margin-top: 13px;
        display: flex;
        justify-content: flex-start;
        gap: 10px;
        align-items: center;
    }
    &__people {
        transition: .4s linear all;
        display: flex;
        align-items: center;
        a {
            transition: .4s linear all;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        a:not(:last-child) {
            margin-right: -5px;
        }
    }
    &__count-of-bits {
        font-weight: normal;
        font-size: 13px;
        line-height: 17px;
        color: #666666;
    }
    &__bottom {
        margin-top: 13px;
        height: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__highest-bit {
        display: flex;
        align-items: center;
        font-weight: normal;
        font-size: 11px;
        color: $gray;
        img {
            margin-right: 8px;
        }
        span {
            margin-left: 3px;
            font-weight: bold;
            color: #000000;
        }
    }
    &__category {
        display: block;
        padding: 6px 10px;
        background: rgba(55, 114, 255, 0.2);
        border-radius: 5px;
        font-weight: 500;
        font-size: 11px;
        line-height: 14px;
        color: $blue;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}